/* CartDropdown.css */

  
  .cart-dropdown.open {
    display: block;
  }
  
 
   
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  
  
  
 
  
  .cartManageProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
  }
  
  .quantity-control button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .quantity-control button:hover {
    background-color: #ddd;
  }
  
  .quantity-control span {
    margin: 0 10px;
    font-size: 1rem;
  }
  
 
  
  .cartDropdownFooter {
    border-top: 1px solid #ddd;
    padding-top: 15px;
  }
  
  .cartDropdownTotalQuantity,
  .cartDropdownTotalPrice {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
 


  