  .cartBanner {
    position: relative;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
}

.cartBanner::before {
    content: "";
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url("https://picsum.photos/1920/1080");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.cartBanner h2{
    font-size: 42px;
}
.cartBanner p{
    font-size: 20px;
}

.cartBanner span{
    font-weight: bold;
}

.div{
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.cartContainer{
    width: 100vw;
    display: flex;
    margin-top: 7vh;
    margin-bottom: 7vh;
    flex-direction: column;
    gap: 2vh;
    
}

.cartItem{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    margin-left: 5vw;
    padding-right: 5vw;
    align-items: center;
}

.btn{
    background-color: transparent;

}

.checkoutSection{
    background-color: #F9F1E7;
    /* height: 30vh; */
    height: 30vh;
    padding: 20px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
    width: 30vw;
    border-radius: 15px;
    margin-top: 50px;
}

.checkoutSection h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.totalPrice{
    display: flex;
    flex-direction: column;
}

.subtotal, .total{
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}

.cartItem img{
    width: 30%;
    height: auto;
    border-radius: 5px;
}

.cartSection{
    display: flex;
    align-items: center;
    margin-top: 7vh;
    margin-bottom: 7vh;
     flex-wrap: wrap; 
    flex-direction: column;
    
}

.subtotal span{
    color: #9d9d9d;
    font-weight: 400;
}

.total span{
    color: #B88E2F;
    font-weight: 600;
    font-size: 17px;
}

.checkoutBtn button{
    background-color: transparent;
    border-radius: 15px;
    border: black solid 1px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
    scale: 1.00;
    transition: all 250ms;
    cursor: pointer;
}
.checkoutBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.checkoutBtn button:hover{
    scale: 1.05;
    transition: all 250ms;
    border: solid 1px #B88E2F;
    color: #B88E2F;
}

.img{
    width: 5px;
    height: 5px;
}

.empty{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    
}

.center{
  font-size: 30px;
  text-align: center;
  
  background-color: #B88E2F ;
  width: 100%;
  margin-top: 50px;

}


  
  .text-left {
    text-align: left;
  }
  
  .text {
    background-color: #F9F1E7;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  th, td {
    border-bottom: 1px solid #e0e0e0;
  }
  
  table {
    width: 90%;
    border-collapse: collapse;
    height: fit-content;
    margin-left: 50px;
    margin-top: 50px;
    
  }
  
  th {
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
  }
  
  td {
    padding: 10px;
  }
  
  .trbody{
    width: 50%;
    display: flex;
  }
  
  tbody tr:hover {
    background-color: #ececec; 
  }
.cursor-pointer{
 color: #B88E2F; 
 cursor: pointer;
}

.Img{
    width: 100px;
}



@media (max-width: 768px) {
  .checkoutSection{
    width: 95%;
    
    display: flex;
    flex-direction: column;
  }
  .div .text-center{
    font-size: 30px;
    text-align: center;
    /* margin-right: 42%; */
    height: fit-content;
    width: 100%;
  }

  .div{
    flex-direction: column;
  }
.tab .table{
  width: 70%;
  display: flex;
  flex-direction: column;

  align-items: center;
}


}

 


